.ProgressBar{
	margin-top: 10rem;
	max-width: $grid-width;
    margin: 0 auto;
	&__title {
		text-align: center;
	}
	&__list{
		margin-top: 4rem;
	}
	padding: 0rem 1.5rem;
	&__actioncontrols {
		margin-top: 2rem;
		select {
			display: inline-block;
		}
	}
	&__buttongroup{
		margin-top: 2rem;
	}
	.ProgressBar__loading {
		font-size: 2.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}