.Bar {
	border:1px solid $color-gray;
	height: 6rem;
	font-size: 1.5rem;
	font-weight: bold;
	&:not(:last-child) {
		margin-bottom: 2rem;
	}
	
	&__color {
		display: block;
		background-color: $bar-color;
		min-height: 100%;
		text-align: center;
		transition: all .4s ease-in-out;
		
	}
	&__value{
		position: absolute;
		left: calc(50% - 4.2rem);
		padding: 2.1rem;
	}

	&--red{
		background: $singtel-red;
		border: 1px solid $color-black;
	}
}



