.Bar {
	border:1px solid $color-gray;
	text-align: center;
	padding:2.5rem;
	font-size: 1.5rem;
	font-weight: bold;
	&:not(:last-child) {
		margin-bottom: 20px;
	}
}

.Bar--red{
	background: $singtel-red;
	border: 1px solid $color-black;
}