select { 
	-webkit-appearance: none; 
	-moz-appearance: none; 
	-ms-appearance: none; 
	appearance: none; 
	outline: 0; 
	background: $singtel-white; 
	background-image: none; 
	border:1px solid $color-black; 
} 
.select { 
	position: relative; 
	display: block; 
	width: 100%; 
	height: 6rem; 
	line-height: 2.5rem; 
	border-radius: .25em; 
	font-size: 2.5rem;
} 
select { 
	width: 100%; 
	height: 100%; 
	margin: 0; 
	padding: 0 0 0 .5rem; 
	color: $color-black; 
	cursor: pointer; 
	font-size: 1.5rem;
} 

select::-ms-expand { 
	display: none; 
}  
.select::after { 
	content: '\25BC'; 
	position: absolute; 
	top: 0; 
	right: 0; 
	bottom: 0; 
	padding: 2rem; 
	background: #2E80D1; 
	pointer-events: none; 
} 

